body {
  background-color: black;
  color: rgb(51, 255, 0); 
  font-family: Times New Roman
  margin: 10% 20%;
  }

p {
  color: black;
}

/* Any color device */
@media (color) {
  p {
    color: red;
  }
}

/* Any color device with at least 8 bits per color component */
@media (min-color: 8) {
  p {
    color: #24ba13;
  }
  
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
