body {
  background-color:
  color:
  font-family: Times New Roman
  margin: 10% 20%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid
  border-bottom: 1px solid
  background-color: rgba (0,0,0, 0.1)
}
